*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}


html {
  font-size: 16px;
  line-height: 1.5;
}


body {
  font-family: sans-serif;
  background-color: #fff;
  color: #7b4141;
}


ul,
ol {
  list-style: none;
}


a {
  text-decoration: none;
  color: inherit;
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}


button,
input,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

textarea {
  resize: none;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}
