

/* Header */
.header {
    background-color: #4CAF50; /* Color verde de tu imagen */
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: auto;
    border:3px #666;

}
 
/*Primero es el contenedor, y despyes estan las tarjetas*/
.grid-container {
    display: grid;
    /* Crea 3 columnas de igual tamaño */
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; /* Espacio entre las tarjetas */
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; /* Centra el catálogo en la pantalla */
    border: 1px solid magenta; /*Vemos al contenedor y si la info se desborda de ellos*/
}

/* Box Model aplicado a cada Tarjeta */
.card {
    background-color: white;
    border: 1px solid #ddd; /* Borde gris suave */
    border-radius: 4px;
    overflow: hidden; /* Para que la imagen no se salga de los bordes redondeados */
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 200px; /* Altura fija para mantener uniformidad */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
}

.info {
    padding: 10px; /* Espacio interno del texto */
    border-top: 1px solid #eee;
}

.info h3 {
    margin: 0;
    font-size: 0.9rem;
}

.info p {
    font-size: 0.75rem;
    color: #666;
}

.footer{
    background-color: #4CAF50; /* Color verde de tu imagen */
    color: white;
    text-align: center;
    padding: 10px 0;
}


/*moficiar este archivo para poner 6, 3 imagenes por linea, q las imagenes sean indefinidas, concepto de tarjeta, mosaico incial, box model */